table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


.header {
  color: white;
  background-color: blue;
}

.tablecontent {
  background: GhostWhite;
}

#email {
  height: 40;
  width: 200px;
}

#password {
  height: 40;
  width: 200px;
}
