body {
  
}

/* PROFILE PAGE */
.profile-page {
  border: 1px solid black;
  width: 600px;
  margin: auto;
}

.profile-page:hover {
  border: 1px solid blue;
}

.profile-pic {
  margin: auto;
  margin-top: 10px;
  display: block;
}

.username {
  text-align: center;
}

.questions {
  margin: auto;
  width: 400px;
  text-align: center;
  display: block;
  border: 1px solid black;
}

.question {
  margin-left: 4px;
  margin-right: 4px;
  display: block;
  text-align: center;
}

p {
  margin-left: 4px;
  margin-right: 4px;
}

/* DIRECTORY-ITEM */
.cohort-list {
  list-style: none;
}

.directory-item img {
  width: 20%;
  padding: auto;
  margin: auto;
}

.directory-item {
  margin-bottom: 20px;
}
/* MAIN PAGE */
.main-page {

}

.prof-pic {
  float: left;
  /* height: 140px;
  width: 100%; */

  width:100%;
  padding: auto;
  padding-top:20%;
  margin: auto;

}

.nav-bar {
  margin: auto;
  border: 1px solid black;
}

.news-feed {
  list-style: none;
  border: 1px solid black;
}

.feed-item {
  margin-bottom: 20px;
}

.feed-item span {
  margin-left: 20px;
}

.feed-item img {
  width: 20%;
  padding: auto;
  margin: auto;
}

.col-sm-2 {
  border: 1px solid red;
  margin: auto;
  height: 100%;
}

.col-sm-offset-2 {
  border: 2px solid green;
  margin: auto;
  height: 100%;
}

/* LOG IN */
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}


.header {
color: white;
background-color: blue;
}

.tablecontent {
  background: GhostWhite;
}

.text-field input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
